<div class="reelIcon flemeIcon"></div>
<div class="reelIcon kekIcon"></div>
<div class="reelIcon supremeIcon"></div>
<div class="reelIcon usalovIcon"></div>
<div class="reelIcon gnomeIcon"></div>
<div class="reelIcon pokerIcon"></div>
<div class="reelIcon kekIcon"></div>