h1 {
    font-size: 500%
}

/*
.loginLayoutMargin {
    margin-bottom: 150px;
}
*/

.winningTable {
    font-size: 14px;
}

.smallIcon {
    padding: 0 3px;
    height: 24px;
    vertical-align: middle;
}

.reel {
    height: 250px;
    width: 100%;
}

.reelIcon {
    height: 250px;
    width: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 250px;
    margin: 0 auto;
}

.kekIcon {
    background-image: url("images/kek.png");
}

.flemeIcon {
    background-image: url("images/fleme.png");
}

.supremeIcon {
    background-image: url("images/supreme.png");
}

.usalovIcon {
    background-image: url("images/usalov.png");
}

.gnomeIcon {
    background-image: url("images/zezagnome.png");
}

.pokerIcon {
    background-image: url("images/zezapoker.png");
}


.errorMes {
    color:red;
}

.mainLayout {
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.roundedBox {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
}

.modalContent {
    box-shadow: 0px 0px 50px;
    font-size: 24px;
    position: relative;
    top: 48%;
    transform: translate(0px,-25%);
}

.modalContainer {
    position: relative;
}

.modalItem {
    position: absolute;
    width: 97%;
    height: 90%;
    text-align: center;
    pointer-events: none;
}



.slotMachineNoTransition {
    transition: none !important;
}

/*
.slotMachineBlurFast {
    filter: blur(5px);
}

.slotMachineBlurMedium {
    filter: blur(3px);
}

.slotMachineBlurSlow {
    filter: blur(2px);
}

.slotMachineBlurTurtle {
    filter: blur(1px);
}
*/

.slotMachineGradient {
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(25%, rgba(0,0,0,1)), color-stop(75%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,1)) );
    mask: url("data:image/svg+xml;utf8,<svg version="1.1" xmlns="http:// www.w3.org/2000/svg" width="0" height="0"><mask id="slotMachineFadeMask" maskUnits="objectBoundingBox" maskContentUnits="objectBoundingBox"><linearGradient id="slotMachineFadeGradient" gradientUnits="objectBoundingBox" x="0" y="0"><stop stop-color="white" stop-opacity="0" offset="0"></stop><stop stop-color="white" stop-opacity="1" offset="0.25"></stop><stop stop-color="white" stop-opacity="1" offset="0.75"></stop><stop stop-color="white" stop-opacity="0" offset="1"></stop></linearGradient><rect x="0" y="-1" width="1" height="1" transform="rotate(90)" fill="url(#slotMachineFadeMask)"></rect></mask></svg>#slotMachineFadeMask");
}